.pjs-page-wrapper { line-height: normal; font-size: 11px; }

.pjs-home h1 { width: auto; height: auto;  }

.pjs-empty { font-size: 2em; text-align: center; color: #aaa; }

.pjs-tool {
    font-size: 0.5em;
    float: right;
}

.pjs-list i { float: left; margin-top: 10px;}
.pjs-list dl { margin-bottom: 1em; margin-left: 3.5em; }
.pjs-list dt { font-size: 18pt; padding: 0.2em 0px 0px; }
.pjs-list dd { font-size: 10pt; margin-left: 0px;}

.psj-public-list h3 img { height: 1em; }

.pjs-fork { padding-left: 40px; font-size: 8pt; }
dd.pjs-fork { padding-left: 0px; font-size: 7pt; }

.pjs-header {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #aaa;
    height: auto; overflow: auto;
}
.pjs-name { margin: 5px 0px 0.5em;}
.pjs-info {
    padding: 0px; margin: 1em 0em 0em;
    display: block; height:auto; overflow: auto;
    float: right;
    width: auto;
    text-align: right;
}
.pjs-info>li {
    display: inline-block;
    padding: 0px 0px 0px 1em;
    text-align: center;
    font-size: 8pt;
}
.pjs-info>li>i { display: block; }

.pjs-clone {
    text-align: right;
    color: rgb(136, 136, 136);
    float: right;
    font-size: 8pt;
}
.pjs-clone > form { display: inline; }

.pjs-repo-actions {
    margin-bottom: 1em;
    text-align: right;
}

.pjs-commit-detail {
    border: 1px solid #aaa;
    height: auto; overflow: auto;
}
.pjs-commit-detail img {
    height: 30px;
    float: left;
    margin: 4px;
}
.pjs-commit-detail .pjs-c-text {
    background-color: #E4E4E4;
    padding: 1em;
    font-family: monospace;
    color: #000;
}
.pjs-commit-detail .pjs-c-meta {
    padding: 1em;
    color: #777;
}
.pjs-commit-detail .pjs-ref { float: right; }

.pjs-commit-detail .btn { line-height: normal; height: auto;}

.pjs-ref {
    font-family: monospace;
    font-size: 0.8em;
    padding: 0.2em;
    border: 1px solid #AAA;
    background-color: #DDECFF;
}



#tree_path { margin-bottom: 1em; }
.pjs-branch-select > .field.select { display: inline; }
.pjs-branch-select > .field.select > label,
.pjs-branch-select > .field.select > .field_help {
    display: none;
}
.pjs-bc-first,
.pjs-bc-last { font-weight: bold; }


.pjs-tree {
    padding: 0px;
    margin: 0px;
    border: 1px solid #aaa;
    width: 100%;
}
.pjs-tree  td {
    padding: 1em;
    border-bottom: 1px solid #eee;
}

.pjs-source {
    border: 1px solid #aaa;
    padding: 0.5em;
}

.pjs-readme {
    border: 1px solid #aaa;
    padding: 0.5em;
    margin: 1em 0px;
}

#settings-default-perms-menu {
    padding: 1em;
    border: 1px solid #eee;
    display: inline-block;
}
.pjs-log-date { margin: 1em 0px; color: #888; }
.pjs-log-commits { margin-left: 0.5em; padding-left: 1em; border-left: 2px solid #aaa; }
.pjs-commit { height: auto; overflow: auto; border: 1px solid #ccc; padding: 0.5em;}
.pjs-commit img { width: 40px; float: left; margin-right: 0.5em;}
.pjs-commit .pjs-c-text { font-size: 1.2em; font-weight: bold; line-height: 25px;}
.pjs-commit .pjs-c-message { margin-left: 50px; }
.pjs-commit .pjs-c-meta { line-height: 15px; margin-left: 50px; color: #888;}
.pjs-commit a { float: right; margin-left: 1em; margin-top: 0.7em; }
.pjs-commit .btn { line-height: normal; height: auto;}


.pjs-diff {
    margin-top: 1em;
    max-width: 800px;
}
.pjs-diff-file {
    padding: 1em;
    background-color: #EEE;
    border-bottom: 1px solid #CCC;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
    font-weight: bold;
    color: #000;
    border-top: 1px solid #888;
}
.pjs-diff-fmt {
    font-size: 8pt;
    overflow-x: auto;
    color: #000;
    background-color: #fff;
    font-weight: initial;
    margin-bottom: 1em;
}
.pjs-diff-fmt table  {border-spacing: 0px; border-collapse: separate; min-width: 100%;}
.pjs-diff-fmt tr { line-height: 1.8em; }
.pjs-diff-fmt td {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    white-space: pre;
    padding: 0px 0.5em;
}
.pjs-diff-side {
    width: 2em;
    min-width: 2em;
    border-right: 1px solid #ccc;
    background-color:#FAFAFA;
    text-align: right;
    color: #888;
}
tr.pjs-diff-head {
    line-height: 3em;
    background-color: #F7F9F9;
    color: #666;
}
.pjs-diff-head .pjs-diff-side { background-color: #f5f4f4; }
.pjs-diff-add .pjs-diff-side ,
.pjs-diff-add { background-color: #C2FFC2; }
.pjs-diff-sub .pjs-diff-side ,
.pjs-diff-sub { background-color: #F9C7C7; }


.pjs-status-0 { color: #00A500; }
.pjs-status-1 { color: #A500A5; }
.pjs-status-2 { color: #A50000; }
.pjs-status-3 { color: #A5A5A5; }


.btn {
    background-color: #fff;
    line-height: 1.5em;
    font-size: 1.1em;
    display: inline-block;
    padding: 0px 0.5em;
    border: 1px solid #3465A4;
    text-decoration: none;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: auto;
}
.btn.active {
   background-color: #5C7EAA;
   color: #fff;
}

.btn:hover {
    text-decoration: none;
    background-color: #3465A4;
    color: #fff;
}

.btn .pjs-counter { float: right; background-color: #ddd; padding: 0px 0.6em; }
.btn.active .pjs-counter,
.btn:hover .pjs-counter { background-color: #444; }

.btn.large { padding: 1em 2em 0.8em; font-size: 1.2em; }
.btn.ok {
    background-color: #00cc00;
    color: #fff;
    border-color: #00cc00;
}
.btn.ok:hover { background-color: #7BFF7B; }
.btn.cancel {
    background-color: #cc0000;
    color: #fff;
    border-color: #cc0000;
}
.btn.cancel:hover { background-color: #FF7B7B; }

.pjs-download {
    padding: 1em;
    border: 1px solid #aaa;
    text-align: center;
}

.source-code {
    white-space: unset!important;
}

.source-code .linehi {
    white-space: pre;
    unicode-bidi: embed;
    font-family: monospace;
}
.source-code .linehi:hover { background-color: #000; }
.source-code .linehi:target { background-color: rgba(255,255,255,0.15); }

.source-code .tag {
    background: unset;
    padding: unset;
    margin: unset;
    color: unset;
    display: inline;
}

.source-code .linenumber {
    display: inline-block;
    width: 2em;
    text-align: right;
    margin-right: 1em;
}

dl.pjs_list > dt { font-size:2em; }
dl.pjs_list > dd { margin-left:2em; }

#pjs-pr-actions {
    margin: 0.5em 0px;
    padding: 0.5em 0px;
    background-color: #FFFFAC;
    text-align: center;
}

aside .pjs-image { text-align: center; }
aside .pjs-image .octicon { font-size: 85px; }
aside .pjs-widget { margin-top:1em; padding-top: 1em; }
aside .pjs-widget * {  box-sizing: border-box; }
aside .pjs-widget .btn { width: 100%; margin-bottom: 0.5em; text-align: left;}
aside .pjs-widget input { width: 100%; margin-bottom: 0.5em; }


